
<div class="container">
  <br>  <h2 class="text-center">Our menu</h2>
  <hr>


  <div class="card">
    <div class="row">
      <aside class="col-sm-5 border-right">
        <article class="gallery-wrap">
          <div class="img-big-wrap">
            <div><img width="100%" height="100%" float-center src="assets/images/pizza.jpg"></div>
          </div> 
          <br>
          <div class="img-big-wrap">
            <div><img width="100%" height="100%" float-center src="assets/images/pasta.jpg"></div>
          </div> 
        </article> 
      </aside>
      <aside class="col-sm-7">
        <article class="card-body p-5">
          <div class="menu-category-items">

            
            <div id="item-2331143928" class="menu-item" data-image="">

              <h3 class="menu-item-title">Salmon Sorrento*</h3>

              
              <div class="menu-item-description">
                <p>

                  Lemon butter sauce, Roma tomatoes &amp; capers.
                </p>
              </div>

            </div>

          
            <div id="item-2331143929" class="menu-item" data-image="">

              <h3 class="menu-item-title">Eggplant Parmigiana</h3>

              
              <div class="menu-item-description">
                <p>

                  Topped with our homemade marinara sauce, Roma tomatoes, basil &amp; mozzarella.
                </p>
              </div>

            </div>

          
            <div id="item-2331143930" class="menu-item" data-image="">

              <h3 class="menu-item-title">Prosciutto Stuffed Chicken</h3>

              
              <div class="menu-item-description">
                <p>

                  Stuffed with mozzarella &amp; prosciutto, served with our homemade marinara &amp; pesto cream sauce.
                </p>
              </div>

            </div>

          
            <div id="item-2331143931" class="menu-item" data-image="">

              <h3 class="menu-item-title">Chicken Limone</h3>

              
              <div class="menu-item-description">
                <p>

                  Lemon butter sauce &amp; capers.
                </p>
              </div>

            </div>

          
            <div id="item-2331143932" class="menu-item" data-image="">

              <h3 class="menu-item-title">Chicken Parmigiana</h3>

              
              <div class="menu-item-description">
                <p>

                  Topped with our homemade marinara sauce, mozzarella and garnished with parsley
                </p>
              </div>

            </div>

          
            <div id="item-2331143933" class="menu-item" data-image="">

              <h3 class="menu-item-title">Chicken Marsala</h3>

              
              <div class="menu-item-description">
                <p>

                  Baby portobello mushrooms in a traditional Marsala wine reduction.
                </p>
              </div>

            </div>

          
        </div>
        </article> 
      </aside> 
    </div> 
  </div> 


</div>



