
  <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
    <div class="container-fluid">
  
      <ul class="nav navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About</a>
        <a class="nav-item nav-link" routerLink="/menu" routerLinkActive="active">Menu</a>
        <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="user">
        <a class="nav-item nav-link float-right" (click)="logout()">Logout</a>
      </ul>
    </div>
  </nav>


  <div class="app-container" [ngClass]="{ 'bg-light': user }">
      <alert></alert>
      <router-outlet></router-outlet>
  </div>

