<!DOCTYPE html>
<html lang="en">
 
<head>
 
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,
            initial-scale=1, shrink-to-fit=no">
 
    
 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href=
"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity=
"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
 
    <title>Restaurant Website</title>
</head>
 
<body>

    <section class="section-intro">
        <header>
            <h1> Welcome, {{user.firstName}}!</h1>
        </header>
        
    </section>
 
    <section class="about-section">
        <article>     
<p>
 Our restaurants combines flavors & inspiration from the Far East & the West to create what we think is the best! Home to the original (recipe), we specialize in pizzas, as well as handmade appetizers, sandwiches, salads, and gluten friendly, vegetarian, & vegan selections. Feel free to indulge in a tiki drink or craft beer with our fantastic unique cuisine. Cheers!
            </p>
 
        </article>
    </section>
 

          <div class="row">
      
              <img src="assets/images/restaurant.jpg" alt="food" style="float:left; margin-left:0px;width: 40%;">
      
            <div class="column">
                <h3 style="margin-top:120px; margin-left:50px">
                    Book your table now!
                </h3>
                
            </div>
            <div class="opening-time column" style="margin-left:50px; margin-top:60px; float:right">
                <h3>
                    Opening times<br>
                </h3>
                 
<p>
                    <span>Monday—Thursday: 08:00 — 22:00</span><br>
                    <span>Friday—Saturday: 09:00 — 23:00 </span><br>
                    <span>Sunday: 10:00 — 17:00</span><br>
                </p>
 
           
            <div class="contact-address">
                <h3>
                    Contact
                </h3>
                 
<p>
                    <span>410-602-8008</span><br>
                    <span>15 Florida Ave</span><br>
                    <span>Palo-Alto, 1111 CA</span><br>
                </p>
                </div>
            </div>
        </div>
  
 
 
 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity=
"sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous">
    </script>
     
    <script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity=
"sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous">
    </script>
     
    <script src=
"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity=
"sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous">
    </script>
</body>
 
</html>